<!-- <div id="googleMap" style="width:50%;height:400px;"></div>

<script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng({{venue.location.lat}},{{venue.location.lng}}),
    zoom:15,
    mapTypeId: google.maps.MapTypeId.HYBRID
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script> -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDesrBtbwRExdzQejyBJaHPkmeaHLQViSM&callback=myMap"></script>
