$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.form-btm-pdng {
  padding-bottom: 1em;
}

.form-top-pdng {
  padding-top: 1em;
}

.hide-section {
  display: none;
}

.hide-message {
  display: none;
}

.content {
  margin: 0 auto;
  text-align: center;
}

.google-map {
  margin: 0 auto;
  width: 100%;
}
